<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="row nav-bar">
	  <div class="col-xs-2 logobar">
	  	<div class="logo"><a href="/"><img src="images/icons/check.png"> Easy Quiz</a></div>
	  </div>
	  <div class="col-xs-10">
	  	<div>
	  		<div class="row profile">
			  	<div class="col-xs-10 right">
			  		<img src="images/people.png" class="profile-img">
			  	</div>
			  	<div class="col-xs-2">
			  		<div style="font-size:0.8em;">Welcome , </div>
			  		<div>{{username}}</div>
			  	</div>
			  </div>
		 </div>
	  </div>
	</div>
	<div class="row content">
	  <!-- <div class="col-xs-2 menubar">
	  	<div>
	  		<ul>
		  		<li><a href="Create"><img src="images/icons/plus.png">Create Quiz</a></li>
		  		<li><img src="images/icons/list.png">My Quiz</li>
		  		<li><img src="images/icons/checkbox.png">My Score</li>
		  		<li><img src="images/icons/logout.png">Logout</li>
	  		</ul>
	  	</div>
	  </div> -->
	  <div class="col-xs-12">
	  	<div>
	  		<div class="block">
		  		<div class="block-title">
		  			<div>{{ title }}</div>
		  			<div>Description: {{ description }}</div>
		  			<br>
		  			<div class="g-plus" data-action="share" data-height="24"></div>
		  		</div>
		  		<div class="block-content">
		  			<div>Start: {{ start }}</div>
		  			<div>End: {{ end }}</div>
		  			<div>
		  				<ul>
						{% for row in questions %}
						<li class="quiz">
							<div>Question {{ loop.index }}. : {{ row.title }}</div>
							<ul>
								{% for row2 in row.answers %}
								<li>
									<div><input type="radio" name="question{{row.id}}" value="{{ row2.id }}"> {{ row2.title }}</div>
								</li>
								{% endfor %}
							</ul>
							<hr>
						</li>
						{% endfor %}
					</ul>
		  			</div>
		  		</div>
		  	</div>
	  	</div>
	  </div>
	</div>
</body>
</html>
{% endautoescape %}